{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<!-- Header Section End -->
<!-- Start Page Header -->
<div class="page-header">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class="breadcrumb">
     <a href="#">
      <i class="icon-home">
      </i>
      Home
     </a>
     <span class="crumbs-spacer">
      <i class="fa fa-angle-double-right">
      </i>
     </span>
     <span class="current">
      Blog
     </span>
     <h2 class="entry-title">
      Blog Categories
     </h2>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- End Page Header -->
<!-- Start Content -->
<div id="content">
 <div class="container">
  <div class="row">
   <!--Sidebar-->
   <aside class="col-md-4 right-sidebar" id="sidebar">
    <!-- Popular Posts widget -->
    <div class="widget widget-popular-posts">
     <h4 class="w-title">
      Recent Posts
     </h4>
     <ul class="posts-list">
      <li>
       <div class="widget-thumb">
        <a href="#">
         <img alt="" src="{% static 'assets/img/post/thumb1.jpg' %}"/>
        </a>
       </div>
       <div class="widget-content">
        <a href="#">
         Nam lobortis elit justo ultrices
        </a>
        <span>
         <i class="icon-calendar">
         </i>
         27-07-2017
        </span>
       </div>
       <div class="clearfix">
       </div>
      </li>
      <li>
       <div class="widget-thumb">
        <a href="#">
         <img alt="" src="{% static 'assets/img/post/thumb2.jpg' %}"/>
        </a>
       </div>
       <div class="widget-content">
        <a href="#">
         Sed ut perspiciatis unde
        </a>
        <span>
         <i class="icon-calendar">
         </i>
         27-07-2017
        </span>
       </div>
       <div class="clearfix">
       </div>
      </li>
      <li>
       <div class="widget-thumb">
        <a href="#">
         <img alt="" src="{% static 'assets/img/post/thumb3.jpg' %}"/>
        </a>
       </div>
       <div class="widget-content">
        <a href="#">
         Sed in odio faucibus sagittis
        </a>
        <span>
         <i class="icon-calendar">
         </i>
         27-07-2017
        </span>
       </div>
       <div class="clearfix">
       </div>
      </li>
     </ul>
    </div>
    <!-- About Widget Start -->
    <div class="widget widget-categories">
     <h4 class="w-title">
      About
     </h4>
     <img alt="" src="{% static 'assets/img/blog/about-w.jpg' %}"/>
     <div class="about-widget-content">
      <h5>
       Pellentesque malesapibus maximus.
      </h5>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias illum ratione,
      </p>
     </div>
    </div>
    <!-- About Widget End -->
    <!-- Categories Widget -->
    <div class="widget widget-categories">
     <h4 class="w-title">
      Categories
     </h4>
     <ul class="cat-list">
      <li>
       <a href="#">
        <i class="icon-folder-alt">
        </i>
        All about clothing
        <span class="num-posts">
         (50)
        </span>
       </a>
      </li>
      <li>
       <a href="#">
        <i class="icon-folder-alt">
        </i>
        Make-up &amp; beauty
        <span class="num-posts">
         (18)
        </span>
       </a>
      </li>
      <li>
       <a href="#">
        <i class="icon-folder-alt">
        </i>
        Accessories
        <span class="num-posts">
         (0)
        </span>
       </a>
      </li>
      <li>
       <a href="#">
        <i class="icon-folder-alt">
        </i>
        House Hold Items
        <span class="num-posts">
         (11)
        </span>
       </a>
      </li>
      <li>
       <a href="#">
        <i class="icon-folder-alt">
        </i>
        Home Made Dishes
        <span class="num-posts">
         (15)
        </span>
       </a>
      </li>
     </ul>
    </div>
    <!-- Add Widget -->
    <div class="add">
     <img alt="" src="{% static 'assets/img/blog/add-blog.jpg' %}"/>
    </div>
    <!-- Tag Media -->
    <div class="widget tag">
     <h4 class="w-title">
      Popular Tags
     </h4>
     <a href="#">
      Fashion
     </a>
     <a href="#">
      Clothing
     </a>
     <a href="#">
      Trends
     </a>
     <a href="#">
      House Hold Items
     </a>
     <a href="#">
      Beauty
     </a>
     <a href="#">
      Sell Off
     </a>
    </div>
   </aside>
   <!--End sidebar-->
   <div class="col-md-8">
    <!-- Start Post -->
    <div class="blog-post">
     <!-- Post thumb -->
     <div class="post-thumb">
      <a href="#">
       <img alt="" src="{% static 'assets/img/blog/img-1.jpg' %}"/>
      </a>
      <div class="hover-wrap">
      </div>
     </div>
     <!-- End Post post-thumb -->
     <!-- Post Content -->
     <div class="post-content">
      <h4 class="post-title">
       <a href="#">
        Pellentesque malesuadadapibus maximus.
       </a>
      </h4>
      <div class="meta">
       <span class="meta-part">
        <a href="#">
         <i class="icon-user">
         </i>
         Shamiyo
        </a>
       </span>
       <span class="meta-part">
        <a href="#">
         <i class="icon-speech">
         </i>
         245 Coments
        </a>
       </span>
       <span class="meta-part">
        <a href="#">
         <i class="icon-calendar">
         </i>
         02-07-2017
        </a>
       </span>
      </div>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Class aptent taciti sociosqu ad litora torquent…
      </p>
      <a class="readmore" href="{% url 'blog_detail' %}">
       Read More
      </a>
     </div>
     <!-- Post Content -->
    </div>
    <!-- End Post -->
    <!-- Start Post -->
    <div class="blog-post">
     <!-- Post post-thumb -->
     <div class="post-thumb">
      <div class="touch-slider owl-carousel" data-slider-pagination="true">
       <div class="item">
        <a class="lightbox" href="{% url 'assets/img/blog/blog_1.jpg' %}">
         <img alt="" src="{% static 'assets/img/blog/blog-1.jpg' %}"/>
        </a>
       </div>
       <div class="item">
        <a class="lightbox" href="{% url 'assets/img/blog/blog_2.jpg' %}">
         <img alt="" src="{% static 'assets/img/blog/blog-2.jpg' %}"/>
        </a>
       </div>
       <div class="item">
        <a class="lightbox" href="{% url 'assets/img/blog/blog_3.jpg' %}">
         <img alt="" src="{% static 'assets/img/blog/blog-3.jpg' %}"/>
        </a>
       </div>
      </div>
     </div>
     <!-- End Post post-thumb -->
     <!-- Post Content -->
     <div class="post-content">
      <h4 class="post-title">
       <a href="#">
        Pellentesque malesuadadapibus maximus.
       </a>
      </h4>
      <div class="meta">
       <span class="meta-part">
        <a href="#">
         <i class="icon-user">
         </i>
         Shamiyo
        </a>
       </span>
       <span class="meta-part">
        <a href="#">
         <i class="icon-speech">
         </i>
         245 Coments
        </a>
       </span>
       <span class="meta-part">
        <a href="#">
         <i class="icon-calendar">
         </i>
         02-07-2017
        </a>
       </span>
      </div>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Class aptent taciti sociosqu ad litora torquent…
      </p>
      <a class="readmore" href="{% url 'blog_detail' %}">
       Read More
      </a>
     </div>
     <!-- Post Content -->
    </div>
    <!-- End Post -->
    <!-- Start Post -->
    <div class="blog-post quote-post">
     <div class="quote-wrap">
      <i class="fa fa-quote-left">
      </i>
      <blockquote class="text-center">
       Crafting visually stunning memorable experiences
       <br/>
       for web and interfaces.
      </blockquote>
      <i class="fa fa-quote-right">
      </i>
     </div>
     <!-- Post Content -->
     <div class="post-content">
      <div class="meta">
       <span class="meta-part">
        <a href="#">
         <i class="icon-user">
         </i>
         Shamiyo
        </a>
       </span>
       <span class="meta-part">
        <a href="#">
         <i class="icon-speech">
         </i>
         245 Coments
        </a>
       </span>
       <span class="meta-part">
        <a href="#">
         <i class="icon-calendar">
         </i>
         02-07-2017
        </a>
       </span>
      </div>
      <a class="readmore" href="{% url 'blog_detail' %}">
       Leave a Comment
      </a>
     </div>
     <!-- Post Content -->
    </div>
    <!-- End Post -->
    <!-- Start Post -->
    <div class="blog-post audio-post">
     <!-- Post thumb -->
     <div class="post-thumb">
      <iframe frameborder="no" height="450" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/100409529&amp;color=f50057&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" width="100%">
      </iframe>
     </div>
     <!-- End Post post-thumb -->
     <!-- Post Content -->
     <div class="post-content">
      <h4 class="post-title">
       <a href="#">
        Pellentesque malesuadadapibus maximus.
       </a>
      </h4>
      <div class="meta">
       <span class="meta-part">
        <a href="#">
         <i class="icon-user">
         </i>
         Shamiyo
        </a>
       </span>
       <span class="meta-part">
        <a href="#">
         <i class="icon-speech">
         </i>
         245 Coments
        </a>
       </span>
       <span class="meta-part">
        <a href="#">
         <i class="icon-calendar">
         </i>
         02-07-2017
        </a>
       </span>
      </div>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Class aptent taciti sociosqu ad litora torquent…
      </p>
      <a class="readmore" href="{% url 'blog_detail' %}">
       Read More
      </a>
     </div>
     <!-- Post Content -->
    </div>
    <!-- End Post -->
    <!-- Start Post -->
    <div class="blog-post">
     <!-- Post thumb -->
     <div class="post-thumb">
      <a href="#">
       <img alt="" src="{% static 'assets/img/blog/img-2.jpg' %}"/>
      </a>
      <div class="hover-wrap">
      </div>
     </div>
     <!-- End Post post-thumb -->
     <!-- Post Content -->
     <div class="post-content">
      <h4 class="post-title">
       <a href="#">
        Pellentesque malesuadadapibus maximus.
       </a>
      </h4>
      <div class="meta">
       <span class="meta-part">
        <a href="#">
         <i class="icon-user">
         </i>
         Shamiyo
        </a>
       </span>
       <span class="meta-part">
        <a href="#">
         <i class="icon-speech">
         </i>
         245 Coments
        </a>
       </span>
       <span class="meta-part">
        <a href="#">
         <i class="icon-calendar">
         </i>
         02-07-2017
        </a>
       </span>
      </div>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Class aptent taciti sociosqu ad litora torquent…
      </p>
      <a class="readmore" href="{% url 'blog_detail' %}">
       Read More
      </a>
     </div>
     <!-- Post Content -->
    </div>
    <!-- End Post -->
    <!-- Start Pagination -->
    <div class="pagination">
     <div class="results-navigation pull-left">
      Showing: 1 - 6 Of 17
     </div>
     <nav class="navigation pull-right">
      <span class="current page-num">
       1
      </span>
      <a class="page-num" href="#">
       2
      </a>
      <a class="page-num" href="#">
       3
      </a>
      <div class="divider">
       ...
      </div>
      <a class="next-page" href="#">
       <i class="fa fa-angle-right">
       </i>
      </a>
     </nav>
    </div>
    <!-- End Pagination -->
   </div>
  </div>
 </div>
</div>
<!-- End Content -->
{% endblock%}
