{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<!-- Header Section End -->
<!-- Start Page Header -->
<div class="page-header">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class="breadcrumb">
     <a href="#">
      <i class="icon-home">
      </i>
      Home
     </a>
     <span class="crumbs-spacer">
      <i class="fa fa-angle-double-right">
      </i>
     </span>
     <span class="current">
      FAQ
     </span>
     <h2 class="entry-title">
      FAQ
     </h2>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- End Page Header -->
<!-- Start Content -->
<div id="content">
 <div class="container">
  <div class="head-faq text-center">
   `
   <h2>
    Frequently Asked Questions
   </h2>
   <p>
    Last Updated on January 15, 2018
   </p>
  </div>
  <div class="row">
   <div class="col-md-12">
    <!-- accordion start -->
    <div class="panel-group" id="accordion">
     <div class="panel panel-default">
      <div class="panel-heading">
       <h4 class="panel-title">
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseOne">
         <span class="num">
          1
         </span>
         Do you ship internationally?
        </a>
       </h4>
      </div>
      <div class="panel-collapse collapse in" id="collapseOne">
       <div class="panel-body">
        <p>
         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lome. Leggings occaecat. craft beer farmto-tab le, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Nihil anim keffiyeh helvetica, craft beer labore wes ande rso cred nesciunt sapiente ea proident Ad vegan excepteur butcher vice lomo. Leggings occaecat caaft beer farmto-tab le,
        </p>
       </div>
      </div>
     </div>
     <div class="panel panel-default">
      <div class="panel-heading">
       <h4 class="panel-title">
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
         <span class="num">
          2
         </span>
         Who shouldi to contact if i Have any question?
        </a>
       </h4>
      </div>
      <div class="panel-collapse collapse" id="collapseTwo">
       <div class="panel-body">
        <p>
         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </p>
       </div>
      </div>
     </div>
     <div class="panel panel-default">
      <div class="panel-heading">
       <h4 class="panel-title">
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
         <span class="num">
          3
         </span>
         How can i cancel or change my order?
        </a>
       </h4>
      </div>
      <div class="panel-collapse collapse" id="collapseThree">
       <div class="panel-body">
        <p>
         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lome. Leggings occaecat. craft beer farmto-tab le, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Nihil anim keffiyeh helvetica, craft beer labore wes ande rso cred nesciunt sapiente ea proident Ad vegan excepteur butcher vice lomo. Leggings occaecat caaft beer farmto-tab le,
        </p>
       </div>
      </div>
     </div>
     <div class="panel panel-default">
      <div class="panel-heading">
       <h4 class="panel-title">
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseFour">
         <span class="num">
          4
         </span>
         How can i Return A Product?
        </a>
       </h4>
      </div>
      <div class="panel-collapse collapse" id="collapseFour">
       <div class="panel-body">
        <p>
         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lome. Leggings occaecat. craft beer farmto-tab le, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Nihil anim keffiyeh helvetica, craft beer labore wes ande rso cred nesciunt sapiente ea proident Ad vegan excepteur butcher vice lomo. Leggings occaecat caaft beer farmto-tab le,
        </p>
       </div>
      </div>
     </div>
     <div class="panel panel-default">
      <div class="panel-heading">
       <h4 class="panel-title">
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseFive">
         <span class="num">
          5
         </span>
         How Long will it take to get my package?
        </a>
       </h4>
      </div>
      <div class="panel-collapse collapse" id="collapseFive">
       <div class="panel-body">
        <p>
         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lome. Leggings occaecat. craft beer farmto-tab le, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Nihil anim keffiyeh helvetica, craft beer labore wes ande rso cred nesciunt sapiente ea proident Ad vegan excepteur butcher vice lomo. Leggings occaecat caaft beer farmto-tab le,
        </p>
       </div>
      </div>
     </div>
     <div class="panel panel-default">
      <div class="panel-heading">
       <h4 class="panel-title">
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseSix">
         <span class="num">
          6
         </span>
         What shipping methods are available?
        </a>
       </h4>
      </div>
      <div class="panel-collapse collapse" id="collapseSix">
       <div class="panel-body">
        <p>
         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lome. Leggings occaecat. craft beer farmto-tab le, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Nihil anim keffiyeh helvetica, craft beer labore wes ande rso cred nesciunt sapiente ea proident Ad vegan excepteur butcher vice lomo. Leggings occaecat caaft beer farmto-tab le,
        </p>
       </div>
      </div>
     </div>
     <div class="panel panel-default">
      <div class="panel-heading">
       <h4 class="panel-title">
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseSeven">
         <span class="num">
          7
         </span>
         Do You Provide any warranty?
        </a>
       </h4>
      </div>
      <div class="panel-collapse collapse" id="collapseSeven">
       <div class="panel-body">
        <p>
         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lome. Leggings occaecat. craft beer farmto-tab le, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Nihil anim keffiyeh helvetica, craft beer labore wes ande rso cred nesciunt sapiente ea proident Ad vegan excepteur butcher vice lomo. Leggings occaecat caaft beer farmto-tab le,
        </p>
       </div>
      </div>
     </div>
     <div class="panel panel-default">
      <div class="panel-heading">
       <h4 class="panel-title">
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseEight">
         <span class="num">
          8
         </span>
         Do You Have replacenment guarantee?
        </a>
       </h4>
      </div>
      <div class="panel-collapse collapse" id="collapseEight">
       <div class="panel-body">
        <p>
         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lome. Leggings occaecat. craft beer farmto-tab le, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Nihil anim keffiyeh helvetica, craft beer labore wes ande rso cred nesciunt sapiente ea proident Ad vegan excepteur butcher vice lomo. Leggings occaecat caaft beer farmto-tab le,
        </p>
       </div>
      </div>
     </div>
     <div class="panel panel-default">
      <div class="panel-heading">
       <h4 class="panel-title">
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseNine">
         <span class="num">
          9
         </span>
         How Can i cancel or change My order?
        </a>
       </h4>
      </div>
      <div class="panel-collapse collapse" id="collapseNine">
       <div class="panel-body">
        <p>
         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lome. Leggings occaecat. craft beer farmto-tab le, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Nihil anim keffiyeh helvetica, craft beer labore wes ande rso cred nesciunt sapiente ea proident Ad vegan excepteur butcher vice lomo. Leggings occaecat caaft beer farmto-tab le,
        </p>
       </div>
      </div>
     </div>
    </div>
    <!-- accordion End -->
    <!-- Still Questions Box Start -->
    <div class="questions-box text-center">
     <h1>
      Still Have Questions? Contact Us
     </h1>
     <a class="btn btn-common" href="{% url 'contact' %}">
      Contact
     </a>
    </div>
    <!-- Still Questions Box End -->
   </div>
  </div>
 </div>
</div>
<!-- End Content -->
{% endblock%}
