{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<!-- Header Section End -->
<!-- Main Content Start -->
<section class="section gray-bg">
 <div class="container">
  <div class="row">
   <div class="col-md-3 col-sm-4">
    <div class="categories-wrapper white-bg">
     <h3 class="block-title">
      Product Categories
     </h3>
     <ul class="vertical-menu">
      <li>
       <a href="#">
        New Arrivals
       </a>
      </li>
      <li>
       <a href="#">
        All Products
       </a>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
        Bags &amp; Accessories
        <i class="caret-right fa fa-angle-right">
        </i>
       </a>
       <ul class="dropdown-menu">
        <li>
         <a href="#">
          Bags &amp; Accessories
         </a>
        </li>
        <li>
         <a href="#">
          Man's Products
         </a>
        </li>
        <li>
         <a href="#">
          Woman's Products
         </a>
        </li>
        <li>
         <a href="#">
          Top Brands
         </a>
        </li>
        <li>
         <a href="#">
          Special Offer
         </a>
        </li>
        <li>
         <a href="#">
          Leather's Products
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
        Man's Products
        <i class="caret-right fa fa-angle-right">
        </i>
       </a>
       <ul class="dropdown-menu">
        <li>
         <a href="#">
          Bags &amp; Accessories
         </a>
        </li>
        <li>
         <a href="#">
          Man's Products
         </a>
        </li>
        <li>
         <a href="#">
          Woman's Products
         </a>
        </li>
        <li>
         <a href="#">
          Top Brands
         </a>
        </li>
        <li>
         <a href="#">
          Special Offer
         </a>
        </li>
        <li>
         <a href="#">
          Leather's Products
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
        Woman's Products
        <i class="caret-right fa fa-angle-right">
        </i>
       </a>
       <ul class="dropdown-menu">
        <li>
         <a href="#">
          Bags &amp; Accessories
         </a>
        </li>
        <li>
         <a href="#">
          Man's Products
         </a>
        </li>
        <li>
         <a href="#">
          Woman's Products
         </a>
        </li>
        <li>
         <a href="#">
          Top Brands
         </a>
        </li>
        <li>
         <a href="#">
          Special Offer
         </a>
        </li>
        <li>
         <a href="#">
          Leather's Products
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
        Top Brands
        <i class="caret-right fa fa-angle-right">
        </i>
       </a>
       <ul class="dropdown-menu">
        <li>
         <a href="#">
          Bags &amp; Accessories
         </a>
        </li>
        <li>
         <a href="#">
          Man's Products
         </a>
        </li>
        <li>
         <a href="#">
          Woman's Products
         </a>
        </li>
        <li>
         <a href="#">
          Top Brands
         </a>
        </li>
        <li>
         <a href="#">
          Special Offer
         </a>
        </li>
        <li>
         <a href="#">
          Leather's Products
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
        Special Offer
        <i class="caret-right fa fa-angle-right">
        </i>
       </a>
       <ul class="dropdown-menu">
        <li>
         <a href="#">
          Bags &amp; Accessories
         </a>
        </li>
        <li>
         <a href="#">
          Man's Products
         </a>
        </li>
        <li>
         <a href="#">
          Woman's Products
         </a>
        </li>
        <li>
         <a href="#">
          Top Brands
         </a>
        </li>
        <li>
         <a href="#">
          Special Offer
         </a>
        </li>
        <li>
         <a href="#">
          Leather's Products
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
        Leather's Productsr
        <i class="caret-right fa fa-angle-right">
        </i>
       </a>
       <ul class="dropdown-menu">
        <li>
         <a href="#">
          Bags &amp; Accessories
         </a>
        </li>
        <li>
         <a href="#">
          Man's Products
         </a>
        </li>
        <li>
         <a href="#">
          Woman's Products
         </a>
        </li>
        <li>
         <a href="#">
          Top Brands
         </a>
        </li>
        <li>
         <a href="#">
          Special Offer
         </a>
        </li>
        <li>
         <a href="#">
          Leather's Products
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </div>
   </div>
   <div class="col-md-9 col-sm-8">
    <div class="touch-slider owl-carousel" data-slider-pagination="true">
     <div class="item">
      <a href="{% url 'category' %}">
       <img alt="" src="{% static 'img/touch-slider/img1.jpg' %}"/>
      </a>
     </div>
     <div class="item">
      <a href="{% url 'category' %}">
       <img alt="" src="{% static 'img/touch-slider/img2.jpg' %}"/>
      </a>
     </div>
     <div class="item">
      <a href="{% url 'category' %}">
       <img alt="" src="{% static 'img/touch-slider/img3.jpg' %}"/>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- Main Content End -->
<!-- Feature ctg Section Start -->
<section class="feature-categories section">
 <div class="container">
  <div class="row">
   <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="feature-item-content">
     <img alt="" src="{% static 'img/feature/img1.jpg' %}"/>
     <div class="feature-content">
      <div class="banner-text">
       <h4>
        Men Sale
       </h4>
       <p>
        New Collection
       </p>
      </div>
      <a class="btn btn-common" href="#">
       Shop Now
      </a>
     </div>
    </div>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="feature-item-content">
     <img alt="" src="{% static 'img/feature/img3.jpg' %}"/>
     <div class="feature-content">
      <div class="banner-text">
       <h4>
        Women's
       </h4>
       <p>
        Upt
        <span>
         40%
        </span>
        OFF
       </p>
      </div>
      <a class="btn btn-common" href="#">
       Shop Now
      </a>
     </div>
    </div>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="feature-item-content mb-30">
     <img alt="" src="{% static 'img/feature/img2.jpg' %}"/>
     <div class="feature-content">
      <div class="banner-text accessories">
       <h4>
        Women's Backpacks
       </h4>
       <p>
        View Collection
       </p>
      </div>
      <a class="btn btn-common" href="#">
       Shop Now
      </a>
     </div>
    </div>
    <div class="feature-item-content">
     <img alt="" src="{% static 'img/feature/img4.jpg' %}"/>
     <div class="feature-content">
      <div class="banner-text accessories">
       <h4>
        Men's sunglasses
       </h4>
       <p>
        View Collection
       </p>
      </div>
      <a class="btn btn-common" href="#">
       Shop Now
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- Feature ctg Section End -->
<!-- Shop Collection Section Start -->
<section id="shop-collection">
 <div class="container">
  <h1 class="section-title">
   New Arrivals
  </h1>
  <hr class="lines"/>
  <div class="row">
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-01.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <span class="sticker new">
       <strong>
        NEW
       </strong>
      </span>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Qui Ratione Volup
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $49.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-02.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <span class="sticker discount">
       <strong>
        -40%
       </strong>
      </span>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Eius Modi Tempo
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $59.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-03.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Quia Voluptas Sit
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $69.00
         <del>
          $79.00
         </del>
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-04.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <span class="sticker sale">
       <strong>
        Sale
       </strong>
      </span>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        An Tium Lores Eos
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $39.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-05.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <span class="sticker sale">
       <strong>
        Sale
       </strong>
      </span>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Magni Dolores Eos
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $69.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-06.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Natur Aut Odit Aut
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $39.00
         <del>
          $79.00
         </del>
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-07.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <span class="sticker new">
       <strong>
        NEW
       </strong>
      </span>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Nisi Ut Aliqu
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $56.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-08.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Beatae Vitae Dicta
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $79.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- Shop Collection Section End -->
<!--  Discount Product Start  -->
<section class="discount-product-area">
 <div class="container">
  <div class="row">
   <div class="discount-text">
    <p>
     New Trendy Collection
    </p>
    <h3>
     Shop Collection 50% offer!
    </h3>
    <a class="btn btn-common btn-large" href="#">
     Buy Now
    </a>
   </div>
  </div>
 </div>
</section>
<!--  Discount Product End  -->
<!-- New Products Section Start-->
<section class="section">
 <div class="container">
  <h1 class="section-title">
   Featured Products
  </h1>
  <hr class="lines"/>
  <div class="row">
   <div class="col-md-12">
    <div class="owl-carousel" id="new-products">
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-01.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <span class="sticker new">
         <strong>
          NEW
         </strong>
        </span>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Nisi Ut Aliqu
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $49.00
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-02.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Eius Modi Tempo
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $59.00
           <del>
            $79.00
           </del>
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-03.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <span class="sticker sale">
         <strong>
          Sale
         </strong>
        </span>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Quia Voluptas Sit
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $68.00
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-04.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          An Tium Lores Eos
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $59.00
           <del>
            $69.00
           </del>
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-05.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <span class="sticker discount">
         <strong>
          -40%
         </strong>
        </span>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Magni Dolores Eos
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $79.00
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-06.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Natur Aut Odit Aut
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $69.00
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-07.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <span class="sticker sale">
         <strong>
          Sale
         </strong>
        </span>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Qui Ratione Volup
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $56.00
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- New Products Section End -->
<!--  Content Area  Section Start -->
<section id="content-area">
 <div class="container">
  <div class="hero-land clearfix">
   <div class="landing caption">
    <h2>
     Start Selling with Kamaii.pk
    </h2>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem, ducimus reprehenderit sed molestiae iure sapiente accusamus incidunt minima expedita velit assumenda vitae libero. Eaque nostrum magni architecto, corporis doloremque!
    </p>
    <p>
     <a class="btn btn-common" href="{% url 'category' %}">
      <span class="icon-organization">
      </span>
      Apply Now
     </a>
    </p>
   </div>
  </div>
 </div>
</section>
<!--  Content Area  Section End -->
<!-- Services Section Starts -->
<section class="section" id="services">
 <!-- Container Starts -->
 <div class="container">
  <div class="row">
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-basket-loaded">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        100+ eCommerce Elements
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-support">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Quick Support
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-layers">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Business Pages
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-rocket">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Fast and Optimized
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-screen-tablet">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Fully Responsive
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service -->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-screen-desktop">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Clean Design
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-settings">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Completely Customizable
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-refresh">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Free Future Updates
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service -->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-notebook">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Full Documented
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
  </div>
 </div>
 <!-- Container Ends -->
</section>
<!-- Services Section Ends -->
<!-- Start Testimonial Section  -->
<div class="testimonial section">
 <div class="container">
  <div class="row">
   <!-- Testimonial section  -->
   <div class="testimonials-carousel owl-carousel">
    <div class="item">
     <div class="testimonial-item">
      <div class="author-info">
       <a href="#">
        <img alt="" src="{% static 'img/testimonial/img1.jpg' %}"/>
       </a>
       <div class="author-title">
        <h5>
         Jared Erondu
        </h5>
        <span>
         - CEO &amp; art director
        </span>
       </div>
      </div>
      <div class="datils">
       <p>
        “ Lorem Ipsum is simply dummy text of the printing andypesetting industry.   Lorem ipsum a simpleLorem
        <br/>
        Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad
        <br/>
        maxime velit unde inventore quasi vero dolorem.“
       </p>
      </div>
     </div>
    </div>
    <div class="item">
     <div class="testimonial-item">
      <div class="author-info">
       <a href="#">
        <img alt="" src="{% static 'img/testimonial/img2.jpg' %}"/>
       </a>
       <div class="author-title">
        <h5>
         Cadic Vegeta
        </h5>
        <span>
         - Graphic Design
        </span>
       </div>
      </div>
      <div class="datils">
       <p>
        “ Lorem Ipsum is simply dummy text of the printing andypesetting industry.   Lorem ipsum a simpleLorem
        <br/>
        Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad
        <br/>
        maxime velit unde inventore quasi vero dolorem.“
       </p>
      </div>
     </div>
    </div>
    <div class="item">
     <div class="testimonial-item">
      <div class="author-info">
       <a href="#">
        <img alt="" src="{% static 'img/testimonial/img3.jpg' %}"/>
       </a>
       <div class="author-title">
        <h5>
         Jonathan Beri
        </h5>
        <span>
         - Web Developer
        </span>
       </div>
      </div>
      <div class="datils">
       <p>
        “ Lorem Ipsum is simply dummy text of the printing andypesetting industry.   Lorem ipsum a simpleLorem
        <br/>
        Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad
        <br/>
        maxime velit unde inventore quasi vero dolorem.“
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- End Testimonial Section  -->
<!-- List Cart Products Start -->
<section class="listcart-products section">
 <div class="container">
  <h1 class="section-title">
   Recommended For You
  </h1>
  <hr class="lines"/>
  <div class="row">
   <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="listcartproducts">
     <h2 class="title-cart">
      Men's
     </h2>
     <div class="products-item-inner">
      <div class="products-item">
       <div class="left">
        <a href="{% url 'product_details' %}">
         <img alt="" src="{% static 'img/products/p1.jpg' %}"/>
        </a>
        <a class="quick-view" href="{% url 'product_details' %}">
         <i class="icon-magnifier">
         </i>
        </a>
       </div>
       <div class="right">
        <h5 class="product-name">
         Floral Print Buttoned
        </h5>
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
        <div class="price">
         $ 49.00
        </div>
       </div>
      </div>
      <div class="products-item">
       <div class="left">
        <a href="{% url 'product_details' %}">
         <img alt="" src="{% static 'img/products/p2.jpg' %}"/>
        </a>
        <a class="quick-view" href="{% url 'product_details' %}">
         <i class="icon-magnifier">
         </i>
        </a>
       </div>
       <div class="right">
        <h5 class="product-name">
         Floral Print Buttoned
        </h5>
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
        <div class="price">
         $ 12.00
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="listcartproducts">
     <h2 class="title-cart">
      Women's
     </h2>
     <div class="products-item-inner">
      <div class="products-item">
       <div class="left">
        <a href="{% url 'product_details' %}">
         <img alt="" src="{% static 'img/products/p3.jpg' %}"/>
        </a>
        <a class="quick-view" href="{% url 'product_details' %}">
         <i class="icon-magnifier">
         </i>
        </a>
       </div>
       <div class="right">
        <h5 class="product-name">
         Floral Print Buttoned
        </h5>
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
        <div class="price">
         $ 59.00
         <span class="old-price">
          $ 69.78
         </span>
        </div>
       </div>
      </div>
      <div class="products-item">
       <div class="left">
        <a href="{% url 'product_details' %}">
         <img alt="" src="{% static 'img/products/p4.jpg' %}"/>
        </a>
        <a class="quick-view" href="{% url 'product_details' %}">
         <i class="icon-magnifier">
         </i>
        </a>
       </div>
       <div class="right">
        <h5 class="product-name">
         Floral Print Buttoned
        </h5>
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
        <div class="price">
         $ 19.00
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="listcartproducts">
     <h2 class="title-cart">
      Accessories
     </h2>
     <div class="products-item-inner">
      <div class="products-item">
       <div class="left">
        <a href="{% url 'product_details' %}">
         <img alt="" src="{% static 'img/products/p5.jpg' %}"/>
        </a>
        <a class="quick-view" href="{% url 'product_details' %}">
         <i class="icon-magnifier">
         </i>
        </a>
       </div>
       <div class="right">
        <h5 class="product-name">
         Floral Print Buttoned
        </h5>
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
        <div class="price">
         $ 36.60
        </div>
       </div>
      </div>
      <div class="products-item">
       <div class="left">
        <a href="{% url 'product_details' %}">
         <img alt="" src="{% static 'img/products/p6.jpg' %}"/>
        </a>
        <a class="quick-view" href="{% url 'product_details' %}">
         <i class="icon-magnifier">
         </i>
        </a>
       </div>
       <div class="right">
        <h5 class="product-name">
         Floral Print Buttoned
        </h5>
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
        <div class="price">
         $ 12.00
         <span class="old-price">
          $ 16.78
         </span>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- List Cart Products End -->
{% endblock%}
