{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<!-- Header Section End -->
<!-- Main Slider Section -->
<section id="slider">
 <div class="tp-banner-container">
  <div class="tp-banner">
   <ul>
    <li data-delay="10000" data-masterspeed="2000" data-slotamount="7" data-thumb="static/img/slider/slide1.jpg" data-transition="fade">
     <!-- MAIN IMAGE -->
     <img alt="laptopmockup_sliderdy" data-bgfit="115" data-bgfitend="100" data-bgposition="top" data-bgpositionend="right" data-duration="12000" data-ease="Power0.easeInOut" data-lazyload="static/img/slider/slide1.jpg" src="{% static 'img/dummy.png' %}"/>
     <!-- LAYERS 1-->
     <div class="tp-caption sft skewtotop tp-resizeme title start" data-easing="Power4.easeOut" data-elementdelay="0.01" data-endeasing="Power4.easeIn" data-endelementdelay="0.1" data-endspeed="1000" data-speed="800" data-splitin="none" data-splitout="none" data-start="950" data-voffset="-90" data-x="20" data-y="center" style="z-index: 11;">
      <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 20px; text-transform: uppercase; font-weight: 700; color: #333;">
       Upto 40% Discount on Women's Clothing
      </h3>
     </div>
     <!-- LAYERS 2 -->
     <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start" data-easing="easeInOutExpo" data-elementdelay="0.1" data-endeasing="easeInOutExpo" data-endelementdelay="0.1" data-endspeed="800" data-speed="1200" data-splitin="none" data-splitout="none" data-start="950" data-voffset="-40" data-x="20" data-y="center">
      <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 50px; font-weight: 800; color: #333;">
       Grand Summer
       <span class="text-preset" style="font-size: 50px;">
        Sale!
       </span>
      </h1>
     </div>
     <!-- LAYERS 3 -->
     <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start" data-easing="easeInOutExpo" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-speed="1200" data-splitin="none" data-splitout="none" data-start="1350" data-voffset="30" data-x="20" data-y="center">
      <p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #333;">
       Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet
       <br/>
       contetur adipiscing elit, sed do eiusmod tempor incididunt
      </p>
     </div>
     <!-- LAYERS 4 -->
     <div class="tp-caption sfb tp-resizeme start" data-easing="easeInOutExpo" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-hoffset="0" data-speed="1200" data-splitin="none" data-splitout="none" data-start="1750" data-voffset="90" data-x="20" data-y="center">
      <a class="btn btn-common" href="#">
       <i class="icon-handbag" style="font-size: 14px">
       </i>
       Start Shopping
      </a>
     </div>
    </li>
    <li data-delay="10000" data-masterspeed="2000" data-slotamount="7" data-thumb="static/img/slider/slide2.jpg" data-transition="fade">
     <!-- MAIN IMAGE -->
     <img alt="laptopmockup_sliderdy" data-bgfit="115" data-bgfitend="100" data-bgposition="right top" data-bgpositionend="center bottom" data-duration="12000" data-ease="Power0.easeInOut" data-lazyload="static/img/slider/slide2.jpg" src="{% static 'img/dummy.png' %}"/>
     <!-- LAYERS 1-->
     <div class="tp-caption sft skewtotop tp-resizeme title start" data-easing="Power4.easeOut" data-elementdelay="0.01" data-endeasing="Power4.easeIn" data-endelementdelay="0.1" data-endspeed="1000" data-speed="800" data-splitin="none" data-splitout="none" data-start="950" data-voffset="-90" data-x="center" data-y="center" style="z-index: 11;">
      <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 20px; text-transform: uppercase; font-weight: 700; color: #fff;">
       Exclusive Summer Collection for Men
      </h3>
     </div>
     <!-- LAYERS 2 -->
     <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start" data-easing="easeInOutExpo" data-elementdelay="0.1" data-endeasing="easeInOutExpo" data-endelementdelay="0.1" data-endspeed="800" data-speed="1200" data-splitin="none" data-splitout="none" data-start="950" data-voffset="-40" data-x="center" data-y="center">
      <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 50px; font-weight: 800; color: #fff;">
       Best of This Season
      </h1>
     </div>
     <!-- LAYERS 3 -->
     <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start" data-easing="easeInOutExpo" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-speed="1200" data-splitin="none" data-splitout="none" data-start="1350" data-voffset="30" data-x="center" data-y="center">
      <p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #fff; text-align: center;">
       Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet
       <br/>
       contetur adipiscing elit, sed do eiusmod tempor incididunt
      </p>
     </div>
     <!-- LAYERS 4 -->
     <div class="tp-caption sfb tp-resizeme start" data-easing="easeInOutExpo" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-hoffset="-78" data-speed="1200" data-splitin="none" data-splitout="none" data-start="1750" data-voffset="90" data-x="center" data-y="center">
      <a class="btn btn-common" href="#why">
       <i class="icon-cursor" style="font-size: 14px">
       </i>
       Track
      </a>
     </div>
     <!-- LAYERS 4 -->
     <div class="tp-caption sfb tp-resizeme" data-easing="easeInOutExpo" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-hoffset="78" data-speed="1200" data-splitin="none" data-splitout="none" data-start="1750" data-voffset="90" data-x="center" data-y="center">
      <a class="btn btn-border" href="#why">
       <i class="icon-menu" style="font-size: 14px">
       </i>
       Explore
      </a>
     </div>
    </li>
    <li data-delay="10000" data-masterspeed="2000" data-slotamount="7" data-thumb="static/img/slider/slide3.jpg" data-transition="fade">
     <!-- MAIN IMAGE -->
     <img alt="laptopmockup_sliderdy" data-bgfit="115" data-bgfitend="100" data-bgposition="right top" data-bgpositionend="center bottom" data-duration="12000" data-ease="Power0.easeInOut" data-lazyload="static/img/slider/slide3.jpg" src="{% static 'img/dummy.png' %}"/>
     <!-- LAYERS 1-->
     <div class="tp-caption sft skewtotop tp-resizeme title start" data-easing="Power4.easeOut" data-elementdelay="0.01" data-endeasing="Power4.easeIn" data-endelementdelay="0.1" data-endspeed="1000" data-speed="800" data-splitin="none" data-splitout="none" data-start="950" data-voffset="-90" data-x="right" data-y="center" style="z-index: 11;">
      <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 20px; text-transform: uppercase; font-weight: 700; color: #333;">
       Big Brands Products at Best Discounts
      </h3>
     </div>
     <!-- LAYERS 2 -->
     <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start" data-easing="easeInOutExpo" data-elementdelay="0.1" data-endeasing="easeInOutExpo" data-endelementdelay="0.1" data-endspeed="800" data-speed="1200" data-splitin="none" data-splitout="none" data-start="950" data-voffset="-40" data-x="right" data-y="center">
      <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 50px; font-weight: 800; color: #333;">
       Super-Saver Offres
      </h1>
     </div>
     <!-- LAYERS 3 -->
     <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start" data-easing="easeInOutExpo" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-speed="1200" data-splitin="none" data-splitout="none" data-start="1350" data-voffset="30" data-x="right" data-y="center">
      <p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #333; text-align: right;">
       Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet
       <br/>
       contetur adipiscing elit, sed do eiusmod tempor incididunt
      </p>
     </div>
     <!-- LAYERS 4 -->
     <div class="tp-caption sfb tp-resizeme start" data-easing="easeInOutExpo" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-hoffset="0" data-speed="1200" data-splitin="none" data-splitout="none" data-start="1750" data-voffset="90" data-x="right" data-y="center">
      <a class="btn btn-common" href="#">
       <i class="icon-clock" style="font-size: 14px">
       </i>
       View Deals
      </a>
     </div>
    </li>
   </ul>
  </div>
 </div>
</section>
<!-- Main Slider Section End-->
<!-- Feature ctg Section Start -->
<section class="feature-categories section">
 <div class="container">
  <div class="row">
   <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="feature-item-content">
     <img alt="" src="{% static 'img/feature/img1.jpg' %}"/>
     <div class="feature-content">
      <div class="banner-text">
       <h4>
        Men Sale
       </h4>
       <p>
        New Collection
       </p>
      </div>
      <a class="btn btn-common" href="#">
       Shop Now
      </a>
     </div>
    </div>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="feature-item-content">
     <img alt="" src="{% static 'img/feature/img3.jpg' %}"/>
     <div class="feature-content">
      <div class="banner-text">
       <h4>
        Women's
       </h4>
       <p>
        Upt
        <span>
         40%
        </span>
        OFF
       </p>
      </div>
      <a class="btn btn-common" href="#">
       Shop Now
      </a>
     </div>
    </div>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="feature-item-content mb-30">
     <img alt="" src="{% static 'img/feature/img2.jpg' %}"/>
     <div class="feature-content">
      <div class="banner-text accessories">
       <h4>
        Women's Backpacks
       </h4>
       <p>
        View Collection
       </p>
      </div>
      <a class="btn btn-common" href="#">
       Shop Now
      </a>
     </div>
    </div>
    <div class="feature-item-content">
     <img alt="" src="{% static 'img/feature/img4.jpg' %}"/>
     <div class="feature-content">
      <div class="banner-text accessories">
       <h4>
        Men's sunglasses
       </h4>
       <p>
        View Collection
       </p>
      </div>
      <a class="btn btn-common" href="#">
       Shop Now
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- Feature ctg Section End -->
<!-- Shop Collection Section Start -->
<section id="shop-collection">
 <div class="container">
  <h1 class="section-title">
   New Arrivals
  </h1>
  <hr class="lines"/>
  <div class="row">
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-01.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <span class="sticker new">
       <strong>
        NEW
       </strong>
      </span>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Qui Ratione Volup
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $49.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-02.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <span class="sticker discount">
       <strong>
        -40%
       </strong>
      </span>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Eius Modi Tempo
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $59.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-03.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Quia Voluptas Sit
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $69.00
         <del>
          $79.00
         </del>
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-04.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <span class="sticker sale">
       <strong>
        Sale
       </strong>
      </span>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        An Tium Lores Eos
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $39.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-05.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <span class="sticker sale">
       <strong>
        Sale
       </strong>
      </span>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Magni Dolores Eos
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $69.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-06.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Natur Aut Odit Aut
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $39.00
         <del>
          $79.00
         </del>
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-07.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <span class="sticker new">
       <strong>
        NEW
       </strong>
      </span>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Nisi Ut Aliqu
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $56.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="shop-product">
     <div class="product-box">
      <a href="#">
       <img alt="" src="{% static 'img/products/img-08.jpg' %}"/>
      </a>
      <div class="cart-overlay">
      </div>
      <div class="actions">
       <div class="add-to-links">
        <a class="btn-cart" href="#">
         <i class="icon-basket-loaded">
         </i>
        </a>
        <a class="btn-wish" href="#">
         <i class="icon-heart">
         </i>
        </a>
        <a class="btn-quickview md-trigger" data-modal="modal-3">
         <i class="icon-eye">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="product-info">
      <h4 class="product-title">
       <a href="{% url 'product_details' %}">
        Beatae Vitae Dicta
       </a>
      </h4>
      <div class="align-items">
       <div class="pull-left">
        <span class="price">
         $79.00
        </span>
       </div>
       <div class="pull-right">
        <div class="reviews-icon">
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="i-color fa fa-star">
         </i>
         <i class="fa fa-star-o">
         </i>
         <i class="fa fa-star-o">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- Shop Collection Section End -->
<!--  Discount Product Start  -->
<section class="discount-product-area">
 <div class="container">
  <div class="row">
   <div class="discount-text">
    <p>
     Best Deals of The Week
    </p>
    <h3>
     Up to 60% Discount on Winter Collection!
    </h3>
    <a class="btn btn-common btn-large" href="#">
     View Deals
    </a>
   </div>
  </div>
 </div>
</section>
<!--  Discount Product End  -->
<!-- New Products Section Start-->
<section class="section">
 <div class="container">
  <h1 class="section-title">
   Featured Products
  </h1>
  <hr class="lines"/>
  <div class="row">
   <div class="col-md-12">
    <div class="owl-carousel" id="new-products">
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-01.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <span class="sticker new">
         <strong>
          NEW
         </strong>
        </span>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Nisi Ut Aliqu
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $49.00
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-02.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Eius Modi Tempo
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $59.00
           <del>
            $79.00
           </del>
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-03.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <span class="sticker sale">
         <strong>
          Sale
         </strong>
        </span>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Quia Voluptas Sit
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $68.00
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-04.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          An Tium Lores Eos
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $59.00
           <del>
            $69.00
           </del>
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-05.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <span class="sticker discount">
         <strong>
          -40%
         </strong>
        </span>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Magni Dolores Eos
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $79.00
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-06.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Natur Aut Odit Aut
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $69.00
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="item">
      <div class="shop-product">
       <div class="product-box">
        <a href="#">
         <img alt="" src="{% static 'img/feature-products/img-07.jpg' %}"/>
        </a>
        <div class="cart-overlay">
        </div>
        <span class="sticker sale">
         <strong>
          Sale
         </strong>
        </span>
        <div class="actions">
         <div class="add-to-links">
          <a class="btn-cart" href="#">
           <i class="icon-basket-loaded">
           </i>
          </a>
          <a class="btn-wish" href="#">
           <i class="icon-heart">
           </i>
          </a>
          <a class="btn-quickview md-trigger" data-modal="modal-3">
           <i class="icon-eye">
           </i>
          </a>
         </div>
        </div>
       </div>
       <div class="product-info">
        <h4 class="product-title">
         <a href="{% url 'product_details' %}">
          Qui Ratione Volup
         </a>
        </h4>
        <div class="align-items">
         <div class="pull-left">
          <span class="price">
           $56.00
          </span>
         </div>
         <div class="pull-right">
          <div class="reviews-icon">
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="i-color fa fa-star">
           </i>
           <i class="fa fa-star-o">
           </i>
           <i class="fa fa-star-o">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- New Products Section End -->
<!--  Content Area  Section Start -->
<section id="content-area">
 <div class="container">
  <div class="hero-land clearfix">
   <div class="landing caption">
    <h2>
     Products and Services in Single Place
    </h2>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem, ducimus reprehenderit sed molestiae iure sapiente accusamus incidunt minima expedita velit assumenda vitae libero. Eaque nostrum magni architecto, corporis doloremque!
    </p>
    <p>
     <a class="btn btn-common" href="{% url 'category' %}">
      Explore
     </a>
    </p>
   </div>
  </div>
 </div>
</section>
<!--  Content Area  Section End -->
<!-- Services Section Starts -->
<section class="section" id="services">
 <!-- Container Starts -->
 <div class="container">
  <div class="row">
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-basket-loaded">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        100+ eCommerce Elements
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-support">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Quick Support
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-layers">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Business Pages
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-rocket">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Fast and Optimized
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-screen-tablet">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Fully Responsive
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service -->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-screen-desktop">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Clean Design
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-settings">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Completely Customizable
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-refresh">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Free Future Updates
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service -->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-notebook">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Full Documented
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
  </div>
 </div>
 <!-- Container Ends -->
</section>
<!-- Services Section Ends -->
<!-- Start Testimonial Section  -->
<div class="testimonial section">
 <div class="container">
  <div class="row">
   <!-- Testimonial section  -->
   <div class="testimonials-carousel owl-carousel">
    <div class="item">
     <div class="testimonial-item">
      <div class="author-info">
       <a href="#">
        <img alt="" src="{% static 'img/testimonial/img1.jpg' %}"/>
       </a>
       <div class="author-title">
        <h5>
         Jared Erondu
        </h5>
        <span>
         - CEO &amp; art director
        </span>
       </div>
      </div>
      <div class="datils">
       <p>
        “ Lorem Ipsum is simply dummy text of the printing andypesetting industry.   Lorem ipsum a simpleLorem
        <br/>
        Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad
        <br/>
        maxime velit unde inventore quasi vero dolorem.“
       </p>
      </div>
     </div>
    </div>
    <div class="item">
     <div class="testimonial-item">
      <div class="author-info">
       <a href="#">
        <img alt="" src="{% static 'img/testimonial/img2.jpg' %}"/>
       </a>
       <div class="author-title">
        <h5>
         Cadic Vegeta
        </h5>
        <span>
         - Graphic Design
        </span>
       </div>
      </div>
      <div class="datils">
       <p>
        “ Lorem Ipsum is simply dummy text of the printing andypesetting industry.   Lorem ipsum a simpleLorem
        <br/>
        Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad
        <br/>
        maxime velit unde inventore quasi vero dolorem.“
       </p>
      </div>
     </div>
    </div>
    <div class="item">
     <div class="testimonial-item">
      <div class="author-info">
       <a href="#">
        <img alt="" src="{% static 'img/testimonial/img3.jpg' %}"/>
       </a>
       <div class="author-title">
        <h5>
         Jonathan Beri
        </h5>
        <span>
         - Web Developer
        </span>
       </div>
      </div>
      <div class="datils">
       <p>
        “ Lorem Ipsum is simply dummy text of the printing andypesetting industry.   Lorem ipsum a simpleLorem
        <br/>
        Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad
        <br/>
        maxime velit unde inventore quasi vero dolorem.“
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- End Testimonial Section  -->
<!-- Latest Blog Section Start -->
<section class="latest-blog section">
 <div class="container">
  <h1 class="section-title">
   Latest Blog
  </h1>
  <hr class="lines"/>
  <div class="row">
   <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="blog-item">
     <div class="blog-img">
      <a href="{% url 'blog_details' %}">
       <img alt="" src="{% static 'img/blog/img1.jpg' %}"/>
      </a>
      <div class="mask">
      </div>
     </div>
     <div class="blog-info">
      <div class="post-date">
       16 April
      </div>
      <h3>
       <a href="{% url 'blog_details' %}">
        Where Trends Going Next
       </a>
      </h3>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....
      </p>
      <a class="readmore" href="{% url 'blog_details' %}">
       Read More
      </a>
     </div>
    </div>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="blog-item">
     <div class="blog-img">
      <a href="{% url 'blog_details' %}">
       <img alt="" src="{% static 'img/blog/img2.jpg' %}"/>
      </a>
      <div class="mask">
      </div>
     </div>
     <div class="blog-info">
      <div class="post-date">
       16 April
      </div>
      <h3>
       <a href="{% url 'blog_details' %}">
        Ellie Goulding – High For This
       </a>
      </h3>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....
      </p>
      <a class="readmore" href="{% url 'blog_details' %}">
       Read More
      </a>
     </div>
    </div>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="blog-item">
     <div class="blog-img">
      <a href="{% url 'blog_details' %}">
       <img alt="" src="{% static 'img/blog/img3.jpg' %}"/>
      </a>
      <div class="mask">
      </div>
     </div>
     <div class="blog-info">
      <div class="post-date">
       16 April
      </div>
      <h3>
       <a href="{% url 'blog_details' %}">
        Best Photography of 2017
       </a>
      </h3>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....
      </p>
      <a class="readmore" href="{% url 'blog_details' %}">
       Read More
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- Latest Blog Section End -->
<!-- Support Section Start -->
<div class="support section">
 <div class="container">
  <div class="row">
   <div class="support-inner">
    <div class="col-md-4 col-sm-4 col-xs-12">
     <div class="row-normal clearfix">
      <div class="support-info">
       <div class="info-title">
        <i class="icon-plane">
        </i>
        Easy Shipping Citywide
       </div>
      </div>
     </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
     <div class="row-normal clearfix">
      <div class="support-info">
       <div class="info-title">
        <i class="icon-earphones-alt">
        </i>
        24/7 Customer Service
       </div>
      </div>
     </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
     <div class="row-normal clearfix">
      <div class="support-info">
       <div class="info-title">
        <i class="icon-heart">
        </i>
        Easy Return Policy
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- Support Section End -->
{% endblock%}
