{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<!-- Header Section End -->
<!-- Start Page Header -->
<div class="page-header">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class="breadcrumb">
     <a href="#">
      <i class="icon-home">
      </i>
      Home
     </a>
     <span class="crumbs-spacer">
      <i class="fa fa-angle-double-right">
      </i>
     </span>
     <span class="current">
      Services
     </span>
     <h2 class="entry-title">
      Services
     </h2>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- End Page Header -->
<!-- Services Section Starts -->
<section class="section" id="services">
 <!-- Container Starts -->
 <div class="container">
  <h1 class="section-title">
   Our Services
  </h1>
  <div class="row">
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-plane">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Citywide Shipping
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-support">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Premium Support
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-basket-loaded-loaded">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Secure Checkout
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-globe">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Multiple Languages
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-screen-tablet">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Fully Responsive
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service -->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-pencil">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Multiple Skin
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-settings">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Completely Customizable
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service-->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-wallet">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Awesome Layout
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
   <!-- Start Service -->
   <div class="col-md-4 col-sm-6">
    <div class="services-box">
     <div class="services-icon">
      <i class="icon-notebook">
      </i>
     </div>
     <div class="services-content">
      <h4>
       <a href="#">
        Full Documented
       </a>
      </h4>
      <p>
       Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
      </p>
     </div>
    </div>
   </div>
   <!-- End Service-->
  </div>
 </div>
 <!-- Container Ends -->
</section>
<!-- Services Section Ends -->
<!-- Team Section Start -->
<section class="team">
 <div class="container">
  <h1 class="section-title">
   Crazy Team
  </h1>
  <div class="row">
   <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="team-item">
     <figure>
      <img alt="" src="{% static 'assets/img/team/img1.jpg' %}"/>
      <figcaption>
       <div class="info">
        <h3>
         ABC
        </h3>
        <p>
         Chief Technical Officer
        </p>
       </div>
       <div class="social">
        <a class="twitter" href="#">
         <i class="fa fa-twitter">
         </i>
        </a>
        <a class="facebook" href="#">
         <i class="fa fa-facebook">
         </i>
        </a>
        <a class="google-plus" href="#">
         <i class="fa fa-google-plus">
         </i>
        </a>
       </div>
      </figcaption>
     </figure>
    </div>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="team-item">
     <figure>
      <img alt="" src="{% static 'assets/img/team/img2.jpg' %}"/>
      <figcaption>
       <div class="info">
        <h3>
         ABC
        </h3>
        <p>
         Graphic Designer
        </p>
       </div>
       <div class="social">
        <a class="twitter" href="#">
         <i class="fa fa-twitter">
         </i>
        </a>
        <a class="facebook" href="#">
         <i class="fa fa-facebook">
         </i>
        </a>
        <a class="google-plus" href="#">
         <i class="fa fa-google-plus">
         </i>
        </a>
       </div>
      </figcaption>
     </figure>
    </div>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="team-item">
     <figure>
      <img alt="" src="{% static 'assets/img/team/img3.jpg' %}"/>
      <figcaption>
       <div class="info">
        <h3>
         ABC
        </h3>
        <p>
         Buniness Manager
        </p>
       </div>
       <div class="social">
        <a class="twitter" href="#">
         <i class="fa fa-twitter">
         </i>
        </a>
        <a class="facebook" href="#">
         <i class="fa fa-facebook">
         </i>
        </a>
        <a class="google-plus" href="#">
         <i class="fa fa-google-plus">
         </i>
        </a>
       </div>
      </figcaption>
     </figure>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- Team Section End -->
<!-- Support Section Start -->
<div class="support section">
 <div class="container">
  <div class="row">
   <div class="support-inner">
    <div class="col-md-4 col-sm-4 col-xs-12">
     <div class="row-normal clearfix">
      <div class="support-info">
       <div class="info-title">
        <i class="icon-plane">
        </i>
        Easy Shipping Citywide
       </div>
      </div>
     </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
     <div class="row-normal clearfix">
      <div class="support-info">
       <div class="info-title">
        <i class="icon-earphones-alt">
        </i>
        24/7 Customer Service
       </div>
      </div>
     </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
     <div class="row-normal clearfix">
      <div class="support-info">
       <div class="info-title">
        <i class="icon-heart">
        </i>
        Member Discount
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- Support Section End -->
{% endblock%}
