{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<!-- Header Section End -->
<!-- Start Page Header -->
<div class="page-header">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class="breadcrumb">
     <a href="#">
      <i class="icon-home">
      </i>
      Home
     </a>
     <span class="crumbs-spacer">
      <i class="fa fa-angle-double-right">
      </i>
     </span>
     <span class="current">
      Product Elements
     </span>
     <h2 class="entry-title">
      Team
     </h2>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- End Page Header -->
<!-- Team Section Start -->
<section class="team section">
 <div class="container">
  <h1 class="section-title">
   Crazy Team
  </h1>
  <div class="row">
   <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="team-item">
     <figure>
      <img alt="" src="{% static 'img/team/img1.jpg' %}"/>
      <figcaption>
       <div class="info">
        <h3>
         ABC
        </h3>
        <p>
         Chief Technical Officer
        </p>
       </div>
       <div class="social">
        <a class="twitter" href="#">
         <i class="fa fa-twitter">
         </i>
        </a>
        <a class="facebook" href="#">
         <i class="fa fa-facebook">
         </i>
        </a>
        <a class="google-plus" href="#">
         <i class="fa fa-google-plus">
         </i>
        </a>
       </div>
      </figcaption>
     </figure>
    </div>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="team-item">
     <figure>
      <img alt="" src="{% static 'img/team/img2.jpg' %}"/>
      <figcaption>
       <div class="info">
        <h3>
         ABC
        </h3>
        <p>
         Graphic Designer
        </p>
       </div>
       <div class="social">
        <a class="twitter" href="#">
         <i class="fa fa-twitter">
         </i>
        </a>
        <a class="facebook" href="#">
         <i class="fa fa-facebook">
         </i>
        </a>
        <a class="google-plus" href="#">
         <i class="fa fa-google-plus">
         </i>
        </a>
       </div>
      </figcaption>
     </figure>
    </div>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="team-item">
     <figure>
      <img alt="" src="{% static 'img/team/img3.jpg' %}"/>
      <figcaption>
       <div class="info">
        <h3>
         ABC
        </h3>
        <p>
         Buniness Manager
        </p>
       </div>
       <div class="social">
        <a class="twitter" href="#">
         <i class="fa fa-twitter">
         </i>
        </a>
        <a class="facebook" href="#">
         <i class="fa fa-facebook">
         </i>
        </a>
        <a class="google-plus" href="#">
         <i class="fa fa-google-plus">
         </i>
        </a>
       </div>
      </figcaption>
     </figure>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- Team Section End -->
<!-- Start Testimonial Section  -->
<div class="testimonial section">
 <div class="container">
  <div class="row">
   <!-- Testimonial section  -->
   <div class="testimonials-carousel owl-carousel">
    <div class="item">
     <div class="testimonial-item">
      <div class="author-info">
       <a href="#">
        <img alt="" src="{% static 'img/testimonial/img1.jpg' %}"/>
       </a>
       <div class="author-title">
        <h5>
         ABC
        </h5>
        <span>
         - CEO &amp; art director
        </span>
       </div>
      </div>
      <div class="datils">
       <p>
        “ Lorem Ipsum is simply dummy text of the printing andypesetting industry.   Lorem ipsum a simpleLorem
        <br/>
        Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad
        <br/>
        maxime velit unde inventore quasi vero dolorem.“
       </p>
      </div>
     </div>
    </div>
    <div class="item">
     <div class="testimonial-item">
      <div class="author-info">
       <a href="#">
        <img alt="" src="{% static 'img/testimonial/img2.jpg' %}"/>
       </a>
       <div class="author-title">
        <h5>
         ABC
        </h5>
        <span>
         - Graphic Design
        </span>
       </div>
      </div>
      <div class="datils">
       <p>
        “ Lorem Ipsum is simply dummy text of the printing andypesetting industry.   Lorem ipsum a simpleLorem
        <br/>
        Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad
        <br/>
        maxime velit unde inventore quasi vero dolorem.“
       </p>
      </div>
     </div>
    </div>
    <div class="item">
     <div class="testimonial-item">
      <div class="author-info">
       <a href="#">
        <img alt="" src="{% static 'img/testimonial/img3.jpg' %}"/>
       </a>
       <div class="author-title">
        <h5>
         ABC
        </h5>
        <span>
         - Web Developer
        </span>
       </div>
      </div>
      <div class="datils">
       <p>
        “ Lorem Ipsum is simply dummy text of the printing andypesetting industry.   Lorem ipsum a simpleLorem
        <br/>
        Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad
        <br/>
        maxime velit unde inventore quasi vero dolorem.“
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- End Testimonial Section  -->
<!-- Support Section Start -->
<div class="support section">
 <div class="container">
  <div class="row">
   <div class="support-inner">
    <div class="col-md-4 col-sm-4 col-xs-12">
     <div class="row-normal clearfix">
      <div class="support-info">
       <div class="info-title">
        <i class="icon-plane">
        </i>
        Easy Shipping Citywide
       </div>
      </div>
     </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
     <div class="row-normal clearfix">
      <div class="support-info">
       <div class="info-title">
        <i class="icon-earphones-alt">
        </i>
        24/7 Customer Service
       </div>
      </div>
     </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
     <div class="row-normal clearfix">
      <div class="support-info">
       <div class="info-title">
        <i class="icon-heart">
        </i>
        Member Discount
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- Support Section End -->
{% endblock%}
